.button-order {
    width: fit-content;
}



/* CSS */
.button-85 {
    color: rgb(255, 255, 255);
    cursor: pointer;
    position: relative;
    z-index: 0;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-85:before {
    content: "";
    background: linear-gradient(
    45deg,
    #4c98a4,
    #002bff,
    #7a00ff,
    #dd00ff,
    #6528a6,
    #5362ae,
    #5293bb

    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.6s ease-in-out;
    border-radius: 1rem;
    display: none;
    opacity: 0.5;
}

.button-85:hover::before {
    display: block;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 50%;
    display: none;
}

.button-85:after:hover {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 50%;
    display: block;
}