.wrapper {
    display: flex;
    justify-content: center;
    /* align-items:; */
    height: 100%;
    width: 100%;
    /* margin-left: 50px; */
    position: relative;
}

.box {
    background: url(../../assets/profilePhoto.jpeg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    height: 100%;
    width: 100%;
    box-shadow: 0 20px 5px 5px rgba(86, 34, 229, 0.13);
    animation: animate1 5s ease-in-out infinite;
    transition: all 1s ease-in-out;
    
}

@keyframes animate1 {
    0%{
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
    50%{
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }
    100%{
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
    
}

.box-border {
    border: 1px solid #935EF3;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    height: 100%;
    width: 100%;
    /* box-shadow: 0 20px 5px 5px rgba(86, 34, 229, 0.13); */
    animation: animate2 6s ease-in-out infinite;
    transition: all 1s ease-in-out;
    position: absolute;
    top: 10px;
}

@keyframes animate2 {

    0%{
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
    50%{
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }
    100%{
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    
    }
    
}

.li-item {
    height: 10px;
    width: 10px;
    border: 1px solid #935EF3;
    margin: 0.5rem;
    border-radius: 50%;
    transition: 0.5s ease
}

.li-item-coloured {
    background-color: #935EF3;
}

.arrow-left:hover {
    filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(210deg) brightness(130%) contrast(80%);
}

.span-about {
    font-weight: bold;
    color: #ad82ff;
    transition: 0.5s ease;
  }

.span-about:hover {
    color: white;
    text-decoration: underline;
    text-underline-offset: 5px;
  }

.img-profile {
    transition: opacity 0.5s ease;
}

