@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



:root {

  --color-bg: #0F1017; 
  --color-frame: #935EF3;

}

h1 {
  font-family: 'Outfit';
  font-weight: 700;
  font-size: 3.5rem;
  line-height: 3.5rem;
}

@media (max-width: 660px) {
  h1 {
    font-size: 2rem;
    line-height: 2rem;
  }
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    }
  
  body {
    background: var(--color-bg);
    font-family: 'Ubuntu', sans-serif;
    color: rgba(255,255,255,0.65);


  }
  
  a {
    color: unset;
    text-decoration: none;
  }
  
  
  .section__padding {
    padding: 1.5rem 2rem;
  }
  
  .section__margin {
    margin: 1rem;
  }
  
  .scale-up-center {
  -webkit-animation: scale-up-center 0.7s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
          animation: scale-up-center 0.7s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  }
  
  @-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  
  
  @media screen and (max-width: 700px) {
    .section__padding{
        padding: 1rem;
    }
    .section__margin{
        margin: 1rem;
    }
  }
  
  @media screen and (max-width: 550) {
    .section__padding{
        padding: 1rem;
    }
    .section__margin{
        margin: 2rem 1rem;
    }
  }
  